<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.begpy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/begpy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/begpy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.begpy.lesson7"
            android:exported="false" />
        <activity
            android:name="com.example.begpy.lesson6"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.begpy.lesson5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.begpy.lesson4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.begpy.CardView"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.begpy.lesson3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.begpy.lesson2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.begpy.lesson1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.begpy.Layout123"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.begpy.QuizQuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.begpy.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>